*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Sans-serif;
}
body{
    background-color: #292929;
}
a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    display: inline-block; 
}
a:hover{
    opacity: 0.7;
}
.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
nav{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background: #163352;
    height: 10vh;
    padding: 0 20px; 
    position: relative; 
}
.nav-container{
    display: flex;
    justify-content: center; 
    flex: 1; 
}
.nav-list{
    list-style: none;
    display: flex;
    justify-content: center;
    z-index: 1000; 
    flex: 1; 
}
.nav-list li{
    letter-spacing: 1px;
    margin: 0 15px; 
}
.logo-container{
    flex: 0 0 auto; 
}
.mobile-menu{
    display: none;
    cursor: pointer;
    position: absolute; 
    right: 20px;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}
@media (max-width: 999px){
    body {
        overflow-x: hidden;
    }
    .nav-list{
        position: fixed;
        top: 8vh;
        right: 0;
        width: 100vw;
        height: 60vh;
        background: #163352;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }
}
.nav-list.active{
    transform: translateX(0);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2{
    opacity: 0;
}
.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}
img{
    width: 100%;  
    max-width: 200px;  
    height: auto; 
    display: block;  
    margin: 0 auto;  
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}
.sobre{
    margin-top: 50px;
    padding: 40px 0;
    color: #fff;
    text-align: center;
}
.sobre .small-container{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}
.sobre .fileira{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.sobre .col-1{
    flex: 1;
    min-width: 200px;
    margin: 10px;
    text-align: left;
}
#cirlei-img{
    max-width: 70%;
    height: auto;
    border-radius: 40px;
}
.sobre h1{
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: center;
}
#filhos-h1{
    text-align: center;
}
.sobre p{
    font-size: 1.2em;
    margin-bottom: 20px;
}
.sobre small{
    font-size: 0.9em;
    color: #ffffff;
    line-height: 1.5;
}
li {
    font-size: large;
    list-style: none;
}
#A {
    color: green;
}
#TA {
    color: yellow;
}
#NI {
    color: blue;
}
h1, h3{
    text-align: center;
}
h2 {
    display: inline;
}
.A {
    color: green;
}
.TA {
    color: yellow;
}
.NI {
    color: blue;
}
p {
    padding: 10px;
    margin-bottom: 20px;
}
footer{
    color: #fff;
    background-color: #163352;
    padding: 30px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}
.footer-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-logo img{
    width: 100px;
    height: auto;
}
.footer-logo p{
    margin-top: 10px;
    font-weight: bold;
}
.footer-links ul{
    list-style-type: none;
    padding: 0;
}
.footer-links ul li{
    display: block;
    margin-right: 20px;
}
.footer-links ul li a{
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}
.footer-links ul li a:hover{
    color: #f0f0f0;
}
.footer-social a{
    display: inline-block;
    margin: 0 10px;
}
.footer-social a img{
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}
.footer-social a img:hover{
    transform: scale(1.2);
}
@media (max-width: 768px){
    .footer-inner {
        flex-direction: column;
        align-items: center;
    }
    .footer-logo img{
        margin-bottom: 10px;
    }
    .footer-social{
        margin-top: 20px;
    }
    .footer-links ul li{
        display: block;
        margin-bottom: 10px;
    }
}
.footer-bottom{
    background-color: #102235;
    padding: 10px 0;
}
.footer-bottom p{
    color: #fff;
    font-size: 12px;
    margin: 0;
    text-align: center;
}